* {
	font-family: Inter;
}

body {
	margin: 0px;
}

header {
	margin: 0 auto;
	padding-top: 48px; padding-bottom: 16px;
	display: flex;
	justify-content: center;
	background-color: #F2F2F2;
}

header input {
	padding: 4px 8px;
	max-width: 480px;
	width: 100%;
	margin: 2px;
}

header button {
	padding: 4px 16px;
	margin: 2px;
	font-weight: 700;
}

header button:active {
	transform: translateY(.5px);
}

header select {
	padding: 4px 8px;
	margin: 2px;
	margin-left: 8px;
}

main {
	margin: 64px auto;
	max-width: 720px;
}

footer {
	margin: 64px auto 0px auto;
	font-size: 90%;
	background-color: #F2F2F2;
	padding: 8px 0px 8px 24px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 6px 12px;
}

blockquote {
	color: gray;
}

a {
	text-decoration: none
}
a:hover {
	text-decoration: underline;
}

code {
	font-family: 'Consolas';
}

pre {
	overflow-x: auto;
	background-color: #F2F2F2;
	border-radius: 6px;
}

pre code {
	display: block;
	margin: 12px 16px;
}

h1, h2 {
	border-bottom: 1px solid #BFBFBF;
}

/* https://github.com/Thundiverter/marked */