* {
	font-family: Helvetica, Arial, sans-serif;
}

header {
	margin: 24px auto;
	display: flex;
	justify-content: center;
}

header input {
	padding: 4px 8px;
	max-width: 256px;
	width: 100%;
	margin: 2px;
}

header button {
	padding: 4px 16px;
	margin: 2px;
}

header select {
	padding: 4px 8px;
	margin: 2px;
	margin-left: 8px;
}

main {
	margin: 16px auto;
	max-width: 720px;
}

footer {
	margin: 24px auto;
	font-size: 90%;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid lightgray;
	padding: 6px 12px;
}

blockquote {
	color: gray;
}

a {
	text-decoration: none
}
a:hover {
	text-decoration: underline;
}

code {
	font-family: 'Consolas';
}

/* https://github.com/Thundiverter/marked */